body {
  background-color: #99CCCC;
  padding: 1vh 0vw 1vh 1vw;
}

p {
  font-size: 26px;
}

.all {
  display: flex;
  flex-direction: row;
  width: 97vw;
  justify-content: space-between;
  /* background-color: aqua; */
}

.app {
  border: 2px lightgrey solid;
  border-radius: 30px;
  height: 95vh;
  width: 48vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 480px) {
  .app {
    height: 48vh;
    width: 92vw;
    margin-bottom: 10px;
  }

  .all {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 10px;
  }

  .rule {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
  }

  .result {
    padding-top: 0px;
    /* border: 1px black solid; */
    font-size: 12px;
    /* text-align: center; */
  }
}

.text {
  /* font-size: 2.5vh; */
  font-family: sans-serif;
  color: darkslategray
}

.right {
  color: limegreen
}

.capital {
  color: darkslateblue
}

.country {
  color: black;
}

.wrong {
  color: tomato
}

.result {
  /* padding-top: 20px; */
  text-align: center;
}

.hint {
  color: darkslategray
}

#desc-wrapper {
  padding: 0 10px;
  text-align: center;
  /* background-color: aquamarine; */
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.give-hint-wrapper {
  margin: 2% 2%;
}

.main-part-wrapper {
  min-width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: violet; */
  border-bottom: 1px gray solid;
}

/* .give-hint-wrapper {
  background-color: silver;
} */

#hint-button {
  width: 100%;
}

input {
  height: 5vmin;
  width: 25%;
  border-radius: 3px;
  border: none
}

#int-area {
  width: 100%;
  height: auto;
  padding: 10% 0;
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.rule {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
}

.disable {
  display: none;
}

button {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  min-height: 5vmin;
  width: 30%;
  text-align: center;
  font-size: 2vmin;
  font-weight: normal;
  height: auto;
  cursor: pointer;
  border: 1px white solid;
  border-radius: 6px;
  background-color: whitesmoke;
}

button:hover {
  transform: scale(1.05);
}

.not-working:hover {
  transform: scale(1.0);
}