.map {
    cursor: crosshair;
    /* width: 92vw; */
    border: 2px lightgrey solid;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 480px) {
    .map {
        width: 92vw;
    }
}